# reduce the number of files to push opver to githubs
node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# firebase data connect 2:46:40
.firebase
dataconnect/.dataconnect